 <hr id="contentLine">
 <section id="contents" class="contents-section bg-light">
    <div class="container">

      <div class="row align-items-center no-gutters mb-4 mb-lg-5 desc">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="/images/{{Shoe1Img}}" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="contents-text text-center text-lg-left">
            <h4>{{title1}}</h4>
            <p class="text-black-50 mb-0">{{Nike1Info}}</p>
          </div>
        </div>
      </div>

      <div id="Shoe2" class="row justify-content-center no-gutters mb-5 mb-lg-0 desc">
        <div class="col-lg-6">
          <img class="img-fluid" src="/images/{{Shoe2Img}}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="contents-text w-100 my-auto text-center text-lg-left">
                <h4>{{title2}}</h4>
                <p class="mb-0">{{Nike2Info}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Shoe3" class="row justify-content-center no-gutters desc">
        <div class="col-lg-6">
          <img class="img-fluid" src="/images/{{Shoe2Img}}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="contents-text w-100 my-auto text-center text-lg-right">
                <h4>{{title3}}</h4>
                <p class="mb-0">{{Shoe3Info}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>